<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Fig</title>
    <script type="text/javascript" src="<%= bundle %>"></script>
    <script type="text/javascript" src="bundle.js"></script>
  </head>
  <body>
    <script type="text/javascript">
      var figTags = [];
      var figCodes = {};
      var figColors = [];

      <% for (var i = 0; i < tags.length; i++) { %>
        figTags.push('<%= tags[i] %>');
        figCodes['<%- tags[i] %>'] = `<%= codes[i] %>`;
      <% } %>

      <% for (var i = 0; i < colors.length; i++) { %>
        figColors.push('<%= colors[i] %>');
      <% } %>
    </script>

    <fig-app tags="{ figTags }" codes="{ figCodes }" bundle-src="<%= bundle %>" colors="{ figColors }"></fig-app>

  </body>
</html>
